<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PayLane_PayLaneDirectDebit>
            <version>0.1.0</version>
        </PayLane_PayLaneDirectDebit>
    </modules> 
    <global>
    	<models>
            <paylanedirectdebit>
                <class>PayLane_PayLaneDirectDebit_Model</class>
            </paylanedirectdebit>
        </models>
        <blocks>
            <paylanedirectdebit>
                <class>PayLane_PayLaneDirectDebit_Block</class>
            </paylanedirectdebit>
        </blocks>
        
        <resources>
        	<paylanedirectdebit_setup>
        		<setup>
        			<module>PayLane_PayLaneDirectDebit</module>
        		</setup>
        		<connection>
        			<use>core_setup</use>
        		</connection>
        	</paylanedirectdebit_setup>
        
        	<paylanedirectdebit_write>
        		<connection>
        			<use>core_write</use>
        		</connection>
        	</paylanedirectdebit_write>
       
        	<paylanedirectdebit_read>
        		<connection>
        			<use>core_read</use>
        		</connection>
        	</paylanedirectdebit_read>
        </resources>
        
    </global>
    <default>
        <payment>
            <paylanedirectdebit>
                <active>1</active>
                <model>paylanedirectdebit/standard</model>
                <order_status>processing</order_status>
                <title>PayLane Direct Debit</title>
                <direct_login>DIRECT LOGIN HERE</direct_login>
                <direct_password>DIRECT PASSWORD HERE</direct_password>
                <sort_order>1001</sort_order>
                <fraud_check>no</fraud_check>
            </paylanedirectdebit>
         </payment>
    </default>
    
	<frontend>
		<routers>
			<paylanedirectdebit>
				<use>standard</use>
				<args>
					<module>PayLane_PayLaneDirectDebit</module>
					<frontName>paylanedirectdebit</frontName>
				</args>
			</paylanedirectdebit>
		</routers>
	</frontend>
</config>