<?xml version="1.0" ?>
<config>
	<modules>
		<paylane_paylanesecureform>
			<version>0.1.0</version>
		</paylane_paylanesecureform>
	</modules>

	<global>
		<models>
			<paylanesecureform>
				<class>PayLane_PayLaneSecureForm_Model</class>
			</paylanesecureform>
		</models>
		<blocks>
			<paylanesecureform>
				<class>PayLane_PayLaneSecureForm_Block</class>
			</paylanesecureform>
		</blocks>
	</global>
 
	<default>
		<payment>
			<paylanesecureform>
				<model>paylanesecureform/standard</model>
				<active>1</active>
				<order_status>pending</order_status>
				<title>PayLane Secure Form</title>
				<language>en</language>
				<payment_action>sale</payment_action>
				<merchant_id>MERCHANT ID HERE</merchant_id>
				<hash_salt>HASH SALT HERE</hash_salt>
				<allowspecific>0</allowspecific>
				<sort_order>1003</sort_order>
				<response_method>post</response_method>
			</paylanesecureform>
		</payment>
	</default> 
	<frontend>
		<routers>
			<paylanesecureform>
				<use>standard</use>
				<args>
					<module>PayLane_PayLaneSecureForm</module>
					<frontName>paylanesecureform</frontName>
				</args>
			</paylanesecureform>
		</routers>
	</frontend>
</config>