<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PayLane_PayLanePayPal>
            <version>0.1.0</version>
        </PayLane_PayLanePayPal>
    </modules> 
    <global>
    	<models>
            <paylanepaypal>
                <class>PayLane_PayLanePayPal_Model</class>
            </paylanepaypal>
        </models>
        <blocks>
            <paylanepaypal>
                <class>PayLane_PayLanePayPal_Block</class>
            </paylanepaypal>
        </blocks>
        <helpers>
            <paylanepaypal>
                <class>PayLane_PayLanePayPal_Helper</class>
            </paylanepaypal>
        </helpers>
        
    </global>
    <default>
        <payment>
            <paylanepaypal>
                <active>1</active>
                <model>paylanepaypal/standard</model>
                <order_status>processing</order_status>
                <title>PayLane PayPal</title>
                <direct_login>DIRECT LOGIN HERE</direct_login>
                <direct_password>DIRECT PASSWORD HERE</direct_password>
                <sort_order>1002</sort_order>
                <response_method>post</response_method>
            </paylanepaypal>
         </payment>
    </default>
    
	<frontend>
		<routers>
			<paylanepaypal>
				<use>standard</use>
				<args>
					<module>PayLane_PayLanePayPal</module>
					<frontName>paylanepaypal</frontName>
				</args>
			</paylanepaypal>
		</routers>
	</frontend>

</config>