<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <PayLane_PayLaneCreditCard>
            <version>0.1.0</version>
        </PayLane_PayLaneCreditCard>
    </modules> 
    <global>
    	<models>
            <paylanecreditcard>
                <class>PayLane_PayLaneCreditCard_Model</class>
            </paylanecreditcard>
        </models>
        <blocks>
            <paylanecreditcard>
                <class>PayLane_PayLaneCreditCard_Block</class>
            </paylanecreditcard>
        </blocks>
        <helpers>
            <paylanecreditcard>
                <class>PayLane_PayLaneCreditCard_Helper</class>
            </paylanecreditcard>
        </helpers>
    </global>
    <default>
        <payment>
            <paylanecreditcard>
                <active>1</active>
                <model>paylanecreditcard/standard</model>
                <order_status>processing</order_status>
                <title>PayLane Credit/Debit Card</title>
                <direct_login>DIRECT LOGIN HERE</direct_login>
                <direct_password>DIRECT PASSWORD HERE</direct_password>
                <sort_order>1000</sort_order>
                <fraud_check>no</fraud_check>
                <secure3d>no</secure3d>
                <response_method>post</response_method>
            </paylanecreditcard>
         </payment>
    </default>
    
	<frontend>
		<routers>
			<paylanecreditcard>
				<use>standard</use>
				<args>
					<module>PayLane_PayLaneCreditCard</module>
					<frontName>paylanecreditcard</frontName>
				</args>
			</paylanecreditcard>
		</routers>
	</frontend>
</config>